@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Metrophobic&family=Miriam+Libre:wght@400..700&display=swap');

:root{
    --color-primario:#884A39;
    --color-textos:#f9e0bb;
    --color-secundario: #C38154;
    --fuente-titulo: "Metrophobic", sans-serif;
    --fuente-subtitulo: "Miriam Libre", sans-serif;
    --fuente-texto: "Krub", sans-serif;
}

* {
    padding: 0;
    margin:0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-primario);
}

.header{
    padding: 0% 0% 0% 0%;
    display: flex;
    flex-direction: column;
}

.header__titulo{
    background-color: var(--color-secundario);
    font-family: var(--fuente-titulo);
    color: var(--color-textos);
    padding: 5% 5% 5% 5%;
    text-align: center;
    font-weight: 1438;
    font-size: 3rem;
}

.header__menu{
    display: flex;
    gap: 140px;
    padding: 5% 5% 0% 5%;
}

.header__menu__link{
    font-family: var(--fuente-subtitulo);
    font-size: 1.5rem;
    font-weight: 327;
    color: var(--color-textos);
    text-decoration: none;
}

.presentacion__contenido {
    padding: 6% 15%;
    display: flex;
    align-items: center;
}

.presentacion__contenido__texto{
    font-family: var(--fuente-texto);
    background-color: var(--color-secundario);
    padding: 14%;
    color: var(--color-textos);
}

.presentacion__imagen{
    width: 50%;
}

.presentacion__sobremi__contenido{
    display: flex;
    flex-direction: column;
}

.presentacion__sobremi{
    padding: 6% 15%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.presentacion__sobremi__contenido__subtitulo{
    font-family: var(--fuente-subtitulo);
    color: var(--color-textos);
    text-align: end;
    font-size: 38px;
}

.articulos__contenido{
    padding: 6% 15%;
    display: flex;
    align-items: center;
}

.footer{
    display: flex;
    padding: 1.5rem;
    font-size: 1.5rem;
    color:var(--color-textos);
    justify-content: center;
    font-family: var(--fuente-texto);
    background-color: #C38154;
    gap: 30px;
}

.footer__imagenes{
    width: 20px;
    height: 20px;
    display: flex;
    width: 10%;
}

@media (max-width: 916px ){
    .header__titulo{
        width: auto;
        padding: 5% 5% 5% 0%;
    }
    .header__menu{
        width: auto;
        padding: 5% 0% 0% 10%;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .presentacion__contenido{
        flex-direction: column-reverse;
        padding: 5%;
        width: auto;
    }
    .presentacion__sobremi{
        flex-direction: column-reverse;
        padding: 5%;
        width: auto;
    }
    .footer__imagenes{
        width: auto;
    }
}